$bold-weight: 700;
$base-color: rgb(10, 11, 29);

@font-face {
  font-family: "MyFont";
  font-weight: $bold-weight;
  font-style: normal;
  src: url("/assets/fonts/RobotoMono-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
}

body {
  background-image: url("/assets/images/crescentmoon.jpg");
  max-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // overflow: hidden;
}

// header {
//   top: 0;
//   height: 4.3em;
//   width: 100%;
// }

header nav {
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
  opacity: 85%;
  top: 0;
  height: 4.3em;
  position: absolute;
  width: 100%;
  transition: 0.6s;
  padding: 1em 1em 1em 1em;
}

a.logo {
  width: 3em;
  position: absolute;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  transition: 0.6s;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.nav-link {
  justify-content: space-between;
  font-size: 1.5em;
  text-decoration: none;
}

header ul li a {
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: #989595;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.25s ease;
}

header ul li a {
  color: #989595;
  &:hover {
    color: #ffffff;
    box-shadow: 0 1px 0 0 #989595;
  }
}

#particles-js {
  // z-index: 100;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // height: 50%;
}

footer {
  color: white;
  opacity: 85%;
  height: 4.5em;
  z-index: 100;
}

.first {
  color: white;
}

.last {
  color: white;
}
