@import url("./common-styles.css");

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact {
  flex-direction: column;
  display: flex;
  flex: 1;
  gap: 1em;
  color: rgb(220, 220, 220);
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85%;
  animation: fadeIn 2s ease-in-out;
}
h2 {
  font-family: MyFont;
  margin: 0.5em;
  color: rgb(220, 220, 220);
  font-size: clamp(1.45rem, 4.25vw, 2.9rem);
  font-weight: bold;
}
#contact > p {
  font-style: italic;
  font-family: MyFont2;
  justify-self: center;
  color: rgb(220, 220, 220);
  font-size: clamp(0.7rem, 2vw, 1.4rem);
  line-height: 1.8;
  max-width: 65%;
}

.contact-icon {
  justify-items: center;
  align-items: center;
  border-radius: 6px;
  padding: 2px;
  width: 1.25em;
}

.socials a {
  padding: 5px;
  margin: 0.5em 0.5em 0.5em 0.5em;
  font-family: StoryFont;
  text-decoration: none;
  color: rgb(220, 220, 220);
  font-size: clamp(0.7rem, 1.6vw, 1.4rem);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media */
@media only screen and (max-width: 576px) {
  #contact {
    height: 100%;
    margin-top: 0em;
    width: unset;
  }
}
