@font-face {
  font-family: "MyFont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Stellar-light.woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/806443.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 4em;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
  opacity: 85%;
  transition: 0.6s;
  padding: 1em;
  height: 64px;
}

.toggle-btn {
  margin: 1em;
  display: flex;
  align-items: center;
}

#bars.fa-solid {
  display: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

.nav-link {
  font-size: 1.4em;
  user-select: none;
  text-decoration: none;
}

nav ul li a {
  font-family: MyFont;
  font-size: clamp(0.7em, 1vw + 0.3em, 0.8em);
  text-decoration: none;
  color: #989595;
  transition: 0.25s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4.5rem;
  width: 100%;
}

.dropdown-menu {
  display: none;
  width: 15em;
  position: relative;
  top: -1em;
  right: em;
  border-radius: 1em 0 0 1em;
  opacity: 90%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  user-select: none;
  display: flex;
  flex-direction: column;
  height: auto;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
}

.dropdown-menu.open:hover {
  color: #ffffff;
}

a.nav-menu {
  font-family: MyFont;
  color: #989595;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
}
a.nav-menu:hover {
  color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
}

div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  letter-spacing: 0.11em;
  user-select: none;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw + 1rem, 5.5rem);
  min-height: fit-content;
  font-family: MyFont2;
  color: #aea8a8;
  height: 1.2em;
}

h2 {
  text-align: center;
  font-size: clamp(1.5rem, 4vw + 0.5rem, 3rem);
  margin-top: 0.8em;
  min-height: fit-content;
  height: 1.5em;
  font-family: MyFont2;
  color: #aea8a8;
}

h3 {
  text-align: center;
  font-size: clamp(1.2rem, 3vw + 0.5rem, 2.5rem);
  height: 2em;
  font-family: MyFont2;
  color: #aea8a8;
}

.highlight {
  font-family: MyFont2;
  color: #bc8787;
  text-shadow: 0 0 10px #717171, 0 0 10px #717171, 0 0 0px #717171,
    0 0 10px #717171, 0 0 10px #717171, 0 0 0px #717171, 0 0 0px #717171,
    0 0 0px #717171;
}

#social-gh:hover {
  color: #333;
}

#social-li:hover {
  color: #0077b5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(42, 41, 41));
  color: #ffffff;
  box-sizing: border-box;
}

a.social-link {
  font-size: clamp(0.6em, 1vw, 0.83em);
  color: #989595;
  padding: 1em;
  opacity: 85%;
  transition: transform 0.3s ease;
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.social-box {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.social-link:hover {
  transform: scale(1.1);
  opacity: 100%;
}

p.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: MyFont, sans-serif;
  color: #7d7d7d;
  font-size: clamp(0.55em, 1.2vw, 1em);
  opacity: 85%;
  text-align: center;
  white-space: nowrap;
}

.nav-btn[aria-current="page"] {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  footer {
    height: auto;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-box {
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2em;
  }

  a.social-link {
    padding: 5px;
  }

  p.copyright {
    position: static;
    transform: none;
    text-align: center;
  }
  div.footer-container {
    min-height: fit-content;
  }
  div.text {
    min-height: fit-content;
  }
  h3 {
    height: 3.5em;
  }
}

@media only screen and (max-width: 576px) {
  #bars.fa-solid {
    color: #ffffff;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
  }
  .nav-link {
    display: none;
  }
  .dropdown-menu {
    right: 2em;
    width: 90vw;
    align-items: center;
    display: none;
  }
}
