@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@font-face {
  font-family: "MavenPro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MavenPro-Regular.ttf");
}
@font-face {
  font-family: "MyFont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "StoryFont";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ChakraPetch-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-image: url("../images/806443.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 4em;
  z-index: 10000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
  opacity: 85%;
  transition: 0.6s;
  padding: 1em;
  height: 64px;
  z-index: 2000;
}

.toggle-btn {
  margin: 1em;
  display: flex;
  align-items: center;
}

#bars.fa-solid {
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 300;
}

nav ul {
  display: flex;
  justify-content: space-evenly; /* Responsive and evenly spaced items */
  width: 100%;
  list-style: none;
}

.nav-link {
  font-size: 1.4em;
  user-select: none;
  text-decoration: none;
}

nav ul li a {
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: #989595;
  transition: 0.25s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end; /* Pushes dropdown to the right */
  position: absolute;
  top: 4.5rem; /* Positions it below the header */
  width: 100%; /* Ensures the flex container spans the full width */
  z-index: 1000; /* Keeps it above other content */
}

.dropdown-menu {
  display: none;
  width: 15em;
  position: relative;
  top: 1em;
  right: 1.5em;
  border-radius: 1em 0 0 1em; /* Rounded corners on the left */
  opacity: 90%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: auto;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
}

.dropdown-menu.open:hover {
  color: #ffffff;
}

.container {
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 5em;
}

div.max-width {
  display: flex;
  flex-direction: column;
  width: 700px;
}

::-moz-selection {
  background: #7c7474;
}

::selection {
  background: #7c7474;
}

section.hexagon-gallery {
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
}

.hexagon-gallery .hexagon {
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: -1.2em 0;
  filter: drop-shadow(20px 20px 40px);
}

.hexagon-gallery .hexagon .hex {
  justify-content: center;
  user-select: none;
  height: 14em;
  width: 14em;
  display: flex;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-gallery .hexagon .hex:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 101;
}

.hexagon-gallery .hexagon:nth-child(1) {
  top: 0;
}

.hexagon-gallery .hexagon:nth-child(3) {
  bottom: 0;
}

h3 {
  align-self: center;
  border-bottom: 5px solid #e48f7c;
  font-weight: 500;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  z-index: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  text-align: center;
}

#modal-image {
  display: inline-block;
  height: 65vh;
  width: 35vw;
  border-radius: 15%;
}

span.close {
  cursor: pointer;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: white;
  position: fixed;
  font-size: 3em;
  top: 0.5em;
  right: 1em;
}

h3 > span {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.015em;
  font-size: 4em;
  font-family: StoryFont;
  color: #e48f7c;
}
h3 > span:hover {
  filter: blur(5px);
  animation: alternate;
  transform: rotate(90deg);
}

p#p1 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

p#p2 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

p#p3 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

.nav-drop {
  border-bottom: 1px ridge rgb(67, 63, 63);
}

nav > div > i {
  visibility: hidden;
}

header ul li a {
  width: -moz-fit-content;
  width: fit-content;
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: #989595;
  font-weight: 500;
  transition: 0.25s ease;
}
header ul li a:hover {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 15rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(0, 0, 0, 0.7);
}

.toggle-btn {
  display: none;
  width: 0.5em;
  margin-right: 4.2em;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-menu.open {
  height: 21rem;
  display: block;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
}
.dropdown-menu.open:hover {
  color: #ffffff;
}

a.nav-menu {
  font-family: MyFont;
  color: #989595;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
}
a.nav-menu:hover {
  color: #ffffff;
}

#lab_social_icon_footer #social-gh:hover {
  color: #333;
}

#lab_social_icon_footer #social-li:hover {
  color: #0077b5;
}

#social-gh:hover {
  color: #333;
}

#social-li:hover {
  color: #0077b5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(42, 41, 41));
  color: #ffffff;
  box-sizing: border-box;
}

a.social-link {
  font-size: 0.9em;
  color: #989595;
  padding: 1em;
  opacity: 85%;
  transition: transform 0.3s ease;
}

.footer-container {
  position: relative; /* Relative to position absolute children */
  display: flex;
  align-items: center; /* Vertically center items */
  height: 100%;
}

.social-box {
  display: flex;
  align-items: center;
  padding-left: 1em; /* Space from left edge */
}

.social-link:hover {
  transform: scale(1.1);
  opacity: 100%;
}

p.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Perfect horizontal centering */
  user-select: none;
  font-family: MyFont, sans-serif;
  color: #7d7d7d;
  font-size: 1em;
  opacity: 85%;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.nav-btn[aria-current="page"] {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
}

@media only screen and (max-width: 1050px) {
  section.hexagon-gallery {
    align-self: center;
    height: 425px;
    width: 475px;
  }
  .hexagon-gallery .hexagon .hex {
    justify-content: center;
    width: 9.34em;
    height: 10.4em;
    margin: -0.17em;
  }
  div.max-width {
    align-self: center;
    width: 550px;
  }
  h3 {
    overflow: hidden;
    font-size: 1.1em;
  }
  p#p1 {
    overflow: hidden;
    font-size: 1.1em;
  }
  p#p2 {
    overflow: hidden;
    font-size: 1.1em;
  }
  p#p3 {
    overflow: hidden;
    font-size: 1.1em;
  }
  nav ul {
    gap: 6rem;
  }
  .nav-link {
    font-size: 1.5em;
  }
  .copyright {
    font-size: 0.7em;
    left: 15em;
  }

  #social-gh {
    font-size: 2.5em;
  }
  #social-li {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 768px) {
  section.hexagon-gallery {
    align-self: center;
    height: 375px;
    width: 400px;
  }
  .hexagon-gallery .hexagon .hex {
    justify-content: center;
    width: 8em;
    height: 9.1em;
  }
  div.max-width {
    width: 450px;
  }
  h3 {
    overflow: hidden;
    font-size: 0.8em;
  }
  p#p1 {
    overflow: hidden;
    font-size: 1em;
  }
  p#p2 {
    overflow: hidden;
    font-size: 1em;
  }
  p#p3 {
    overflow: hidden;
    font-size: 1em;
  }
  nav ul {
    margin-left: 3em;
    gap: 4em;
  }
  .nav-link {
    font-size: 0.9em;
  }

  #social-gh {
    font-size: 2em;
  }
  #social-li {
    font-size: 2em;
  }
  .copyright {
    font-size: 0.3em;
    bottom: 0.2em;
    left: 25em;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .hexagon-gallery .hexagon .hex {
    width: 7em;
    height: 8.6em;
    align-self: center;
    justify-content: center;
  }
  section.hexagon-gallery {
    align-self: center;
    margin-bottom: 6em;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #modal-image {
    height: 20em;
    width: 20em;
  }
  #problem {
    width: 129px;
  }
  div.max-width {
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #bars.fa-solid {
    color: #ffffff;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    visibility: visible;
  }
  .nav-link {
    display: none;
  }
  .dropdown-menu {
    left: 1.2rem;
    width: unset;
    align-items: center;
    display: none;
  }
  .copyright {
    left: 0;
    font-size: 0.6em;
    position: sticky;
  }
}
