@font-face {
  font-family: "MyFont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Stellar-light.woff");
}

@font-face {
  font-family: "StoryFont";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ChakraPetch-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/806443.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  min-height: 100vh;
  width: 100vw;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 4em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
  opacity: 85%;
  transition: 0.6s;
  padding: 1em;
  height: 64px;
  width: 100%;
}

.toggle-btn {
  margin: 1em;
  display: flex;
  align-items: center;
}

#bars.fa-solid {
  user-select: none;
  display: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-link {
  font-size: clamp(1em, 1.5vw, 1.4em);
  user-select: none;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

.nav-link {
  font-size: clamp(1em, 1.5vw, 1.4em);
  user-select: none;
  text-decoration: none;
}

nav ul li a {
  font-family: MyFont;
  font-size: clamp(0.7em, 1vw + 0.3em, 0.8em);
  text-decoration: none;
  color: #989595;
  transition: 0.25s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4.5rem;
  width: 100%;
}

.dropdown-menu {
  display: none;
  width: 15em;
  position: relative;
  top: -1em;
  border-radius: 1em 0 0 1em;
  opacity: 90%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  user-select: none;
  display: flex;
  flex-direction: column;
  height: auto;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
  z-index: 1000;
}

.dropdown-menu.open:hover {
  color: #ffffff;
}

a.nav-menu {
  font-family: MyFont;
  color: #989595;
  list-style: none;
  font-size: clamp(1.2rem, 1.5vw, 1.7rem);
  text-decoration: none;
}
a.nav-menu:hover {
  color: #ffffff;
}

a.nav-btn {
  padding: 0.5em;
}

#social-gh:hover {
  color: #333;
}

#social-li:hover {
  color: #0077b5;
}

.project-section {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.35);

  min-width: fit-content;
  gap: 1em;
  margin: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  width: clamp(15em, 25vw, 25em);
  height: auto;
}

img.forkify {
  width: 25em;
  height: 15em;
  border: 2px solid rgb(122, 118, 118);
  border-radius: 20%;
  object-fit: cover;
  max-width: 100%;
}

img.forkify:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.box-h3 {
  height: auto;
  font-family: StoryFont;
  font-size: clamp(1rem, 1vw + 0.8rem, 1.6rem);
  color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
  margin: 1em;
}

.tools {
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.36);
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 180%
  );
  margin-top: 3em;
}

img.stack {
  width: 3em;
  height: auto;
}

section.codeStack {
  justify-content: center;
  display: flex;
}

h3 {
  height: 1.5em;
  margin: 1em 0 0.5em 0;
  color: rgb(220, 220, 220);
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2em);
  font-family: MyFont;
}

.credentials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10em;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.36);
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 180%
  );
}

#certs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  max-width: 500px;
}

.certs-image {
  display: block;
  border: 2px rgb(145, 43, 147) solid;
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
}

.certs-image:hover {
  transform: scale(1.01);
}

.title {
  user-select: none;
  text-align: center;
  margin: 2em;
  color: rgb(220, 220, 220);
  font-size: clamp(1.5em, 2vw, 2.5em);
  font-family: MyFont;
}

section > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin-bottom: 4em;
}

section > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  margin: 1em;
  font-family: StoryFont;
  color: white;
  list-style: none;
  user-select: none;
}

#social-li:hover {
  color: #0077b5;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(42, 41, 41));
  color: #ffffff;
  box-sizing: border-box;
  margin-top: 1em;
  overflow-x: hidden;
}

a.social-link {
  font-size: clamp(0.6em, 1vw, 0.83em);
  color: #989595;
  padding: 1em;
  opacity: 85%;
  transition: transform 0.3s ease;
}
.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.social-box {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.social-link:hover {
  transform: scale(1.1);
  opacity: 100%;
}

p.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: MyFont, sans-serif;
  color: #7d7d7d;
  font-size: clamp(0.55em, 1.2vw, 1em);
  opacity: 85%;
  text-align: center;
  white-space: nowrap;
}

.nav-btn[aria-current="page"] {
  color: #ffffff;
  font-size: clamp(0.8em, 1vw, 0.9em);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 7em;
    height: auto;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-box {
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2em;
  }

  a.social-link {
    padding: 5px;
  }

  p.copyright {
    position: static;
    transform: none;
    text-align: center;
  }
  div.footer-container {
    min-height: fit-content;
  }
}
@media only screen and (max-width: 576px) {
  #bars.fa-solid {
    color: #ffffff;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
  }
  .nav-link {
    display: none;
  }
  .dropdown-menu {
    right: 2em;
    width: 90vw;
    align-items: center;
    display: none;
  }

  .credentials {
    gap: 2em;
  }
  div.social-box {
    padding: 0;
    margin: 0;
  }
}
