@font-face {
  font-family: "MyFont";
  font-weight: 700;
  font-style: normal;
  src: url("RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("Stellar-light.woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("crescentmoon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100vw;
  display: flex;
}

nav {
  width: 100vw;
  justify-content: space-between;
  display: flex;
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
  opacity: 85%;
  transition: 0.6s;
  padding: 1em 1em 1em 1em;
  height: 2.3em;
}

.logo {
  position: relative;
  left: 0.1em;
  bottom: 0.3em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  transition: 0.6s;
}

nav ul {
  display: flex;
  gap: 12rem;
}

.nav-link {
  font-size: 1.4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  overflow-y: hidden;
}

nav > div > i {
  visibility: hidden;
}

#bars.fa-solid {
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

header ul li a {
  width: -moz-fit-content;
  width: fit-content;
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: #989595;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.25s ease;
}
header ul li a:hover {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 15rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.toggle-btn {
  visibility: hidden;
  width: 0.5em;
  margin-right: 4.2em;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-menu.open {
  height: 21rem;
  display: block;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
}
.dropdown-menu.open:hover {
  color: #ffffff;
}

a.nav-menu {
  font-family: MyFont;
  color: #989595;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
}
a.nav-menu:hover {
  color: #ffffff;
}

a.nav-btn {
  padding: 0.5em;
}

div.text {
  overflow-x: hidden;
  letter-spacing: 0.11em;
  pointer-events: none;
  overflow-y: hidden;
  height: 30vh;
  font-size: 2em;
  position: absolute;
  top: 10em;
  left: 2.5em;
}

h1.name {
  overflow-x: hidden;
  height: 4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: MyFont2;
  color: #696868;
}

#particles-js {
  overflow-x: hidden;
  overflow: hidden;
  z-index: 0;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gh:hover {
  color: #333;
}

#lab_social_icon_footer #social-li:hover {
  color: #0077b5;
}

footer {
  margin-top: auto;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #ffffff;
  height: 3.3em;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(42, 41, 41));
  overflow-y: hidden;
  width: 100vw;
}

#lab_social_icon_footer a {
  font-size: 0.9em;
  color: #989595;
  padding: 1em;
  opacity: 85%;
}

div.text-center.center-block {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-y: hidden;
  opacity: 85%;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 0.4em;
}

#lab_social_icon_footer .social:hover {
  transform: scale(0.9);
  opacity: 85%;
}

#lab_social_icon_footer .social {
  overflow-y: hidden;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transition-duration: 0.5s;
  transform: scale(0.8);
  opacity: 85%;
}

span.seperator {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: gray;
  font-size: 2em;
  bottom: 0.18em;
  position: relative;
  opacity: 85%;
}

.copyright {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: MyFont;
  color: #7d7d7d;
  font-size: 1rem;
  opacity: 85%;
  margin: auto;
}

.nav-btn[aria-current=page] {
  color: #ffffff;
  font-size: 0.9em;
}

div a.social-link {
  position: relative;
  top: 0.7em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.togcontainer {
  position: absolute;
  top: 10em;
  right: -2em;
  transform: translate(-50%, -50%);
  width: 7em;
  height: 5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 1.5em;
  background: #f600ff;
  border-radius: 1em 1em 1em 1em;
  overflow: hidden;
  opacity: 65%;
}

div.onoff {
  font-size: 0.8em;
  color: #33ff00;
  left: 4.4em;
  top: 0.35em;
  position: absolute;
  font-family: MyFont;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
div.onoff div.onoff::-moz-selection {
  background: rgba(0, 0, 0, 0);
}
div.onoff div.onoff::selection {
  background: rgba(0, 0, 0, 0);
}

div.toggle.active {
  opacity: 90%;
  background: #f600ff;
}

.togcontainer .toggle.active .toggle-button {
  left: 0em;
}

.toggle-button {
  opacity: 90%;
  position: absolute;
  bottom: 0.03;
  left: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background: rgb(91, 85, 85);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.invert {
  -moz-filter: invert(100%);
  filter: invert(100%);
}

header nav.activate {
  background-image: linear-gradient(#09ff00, #ffffff);
  opacity: 80%;
}

.inverted {
  color: #f600ff;
}

.test {
  color: #f600ff;
}

footer.activater {
  background-image: linear-gradient(#ffffff, #09ff00);
  opacity: 80%;
}

@media only screen and (max-width: 1050px) {
  div.text {
    font-size: 1.4em;
    top: 10em;
    left: 2.5em;
  }
  nav ul {
    gap: 6rem;
  }
  .nav-link {
    font-size: 1.5em;
  }
  .copyright {
    font-size: 0.8em;
    position: absolute;
    right: 5.5em;
    top: 2.4em;
  }
  #social-fb {
    font-size: 2.5em;
  }
  #social-tw {
    font-size: 2.5em;
  }
  #social-gh {
    font-size: 2.5em;
  }
  #social-li {
    font-size: 2.5em;
  }
  span.seperator {
    bottom: 0.03em;
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 768px) {
  .togcontainer {
    position: absolute;
    right: -5em;
    top: 8em;
  }
  div.text {
    font-size: 1.1em;
    top: 12em;
    left: 2.5em;
  }
  nav ul {
    margin-left: 3em;
    gap: 4em;
  }
  .nav-link {
    font-size: 0.9em;
  }
  a.logo {
    font-size: 1.4em;
  }
  #social-fb {
    font-size: 2em;
  }
  #social-tw {
    font-size: 2em;
  }
  #social-gh {
    font-size: 2em;
  }
  #social-li {
    font-size: 2em;
  }
  .copyright {
    font-size: 0.5em;
    top: 3em;
    right: 3em;
  }
  span.seperator {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 576px) {
  div.text {
    width: 80vw;
    font-size: 1em;
    top: 12em;
    left: 0.18em;
  }
  h1.name {
    font-size: 2.5em;
    position: relative;
    top: 0.5em;
    left: 5rem;
  }
  span.dev {
    right: 1em;
    position: relative;
  }
  span.devel {
    position: relative;
    left: -8.55em;
    top: 2.5em;
  }
  #bars.fa-solid {
    color: #ffffff;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    visibility: visible;
  }
  .nav-link {
    display: none;
  }
  .toggle-btn {
    visibility: hidden;
    width: 0.5em;
    margin-right: 4.2em;
  }
  .dropdown-menu {
    left: 1.2rem;
    width: unset;
    align-items: center;
    display: none;
  }
  footer#lab_social_icon_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .copyright {
    top: 9em;
    font-size: 0.6sem;
    position: sticky;
  }
  span.seperator {
    bottom: -0.05em;
    font-size: 1.3em;
  }
  .togcontainer {
    position: absolute;
    top: 9em;
    left: 5em;
  }
  div.toggle {
    width: 2.5em;
    height: 1.3em;
    background: #f600ff;
    border-radius: 1em 1em 1em 1em;
    overflow: hidden;
    opacity: 65%;
  }
  div.onoff {
    font-size: 0.6em;
    color: #33ff00;
    left: 4.6em;
    top: 0.28em;
    position: absolute;
    font-family: MyFont;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  div.onoff div.onoff::-moz-selection {
    background: rgba(0, 0, 0, 0);
  }
  div.onoff div.onoff::selection {
    background: rgba(0, 0, 0, 0);
  }
  .toggle-button {
    position: absolute;
    bottom: 0.03;
    left: 1.3em;
    width: 1.3em;
    height: 1.3em;
  }
}/*# sourceMappingURL=index.css.map */