$bold-weight: 700;
$base-black: rgb(0, 0, 0);
$base-gray: rgb(42, 41, 41);
$base-text: #989595;
$base-white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

@font-face {
  font-family: "MavenPro";
  font-weight: normal;
  font-style: normal;
  src: url("MavenPro-Regular.ttf");
}
@font-face {
  font-family: "MyFont";
  font-weight: $bold-weight;
  font-style: normal;
  src: url("RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("Stellar-light.woff");
}

@font-face {
  font-family: "StoryFont";
  font-style: normal;
  font-weight: normal;
  src: url("ChakraPetch-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  // overflow: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-image: url("806443.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #d5b1b1;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: space-around;
  // gap: 1em;
  height: 100%;
}

// .container {
//   display: flex;
//   justify-content: space-evenly;
//   gap: 1em;
// }

// div.max-width {
//   // height: fit-content;
//   display: flex;
//   flex-direction: column;
//   width: 675px;
//   height: 600px;
//   // height: 100vh;
//   // padding: 1em;
//   border-radius: 15%;
//   background-color: rgba(0, 0, 0, 0.3);
// }
div.max-width {
  // height: fit-content;
  // position: absolute;
  // left: 3em;
  display: flex;
  flex-direction: column;
  width: 700px;
  // height: 600px;
  // height: 100vh;
  // padding: 1em;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.3);
}

::selection {
  background: #423c3c;
}

// img {
//   margin-top: 2em;
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
//   height: 30em;
//   width: 24em;
//   border-radius: 25%;
//   background-color: rgba(0, 0, 0, 0.25);
// }

section.hexagon-gallery {
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  position: relative;
  place-items: center;
  margin: 1em;
  // background: rgba(255, 255, 255, 0.4);
  display: grid;
  height: 600px;
  width: 675px;
  // height: 5em;
  // width: 5.5em;
}

.hexagon-gallery .hexagon {
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  -webkit-filter: drop-shadow(20px 20px 40px);
  filter: drop-shadow(20px 20px 40px);
}

.hexagon-gallery .hexagon .hex {
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  width: 13.34em;
  height: 15.2em;
  // width: 14em;
  // height: 14.5em;
  display: flex;
  margin: 0.1em;
  background: rgba(93, 88, 88, 0.6);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &:hover {
    cursor: pointer;
    -o-transform: scale(1.14);
    -moz-transform: scale(1.14);
    -webkit-transform: scale(1.14);
    transform: scale(1.1);
    z-index: 101;
  }
}

.hexagon-gallery .hexagon:nth-child(1) {
  top: 0;
}
.hexagon-gallery .hexagon:nth-child(3) {
  bottom: 0;
}

h3 {
  align-self: center;
  border-bottom: 5px solid #aea8a8;
  font-weight: 500;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

h3.story {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h3 > span {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.015em;
  font-size: 4em;
  font-family: StoryFont;
  // font-family: MyFont;
  // color: #bc8787;
  color: #aea8a8;
  // text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 10px #ffffff,
  //   0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff,
  //   0 0 10px #ffffff;

  &:hover {
    filter: blur(5px);
    animation: alternate;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    // color: #aea8a8;
  }
}
p#p1 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}

p#p2 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}
p#p3 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.3em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}

// header {
//   // position: relative;
//   // position: fixed;
//   top: 0;
//   // width: 100vw;
//   // display: flex;
//   height: 4.3em;
// }

nav {
  background-image: -o-linear-gradient($base-gray, $base-black);
  background-image: -moz-linear-gradient($base-gray, $base-black);
  background-image: linear-gradient($base-gray, $base-black);
  // width: 100vw;
  justify-content: space-between;
  display: flex;
  opacity: 85%;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 1em 1em 1em 1em;
  height: 2.3em;
}

.logo {
  position: relative;
  left: 0.1em;
  bottom: 0.08em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: $base-white;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav ul {
  display: flex;
  gap: 12rem;
}

.nav-link {
  font-size: 1.4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  overflow-y: hidden;
}

.nav-drop {
  border-bottom: 1px ridge rgb(67, 63, 63);
}

nav > div > i {
  visibility: hidden;
}

#bars.fa-solid {
  color: $base-white;
  font-size: 1.8rem;
  cursor: pointer;
}

header ul li a {
  width: fit-content;
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: $base-text;
  letter-spacing: 1px;
  font-weight: 500;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  &:hover {
    color: $base-white;
  }
}

.dropdown-menu {
  display: none;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 15rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // backdrop-filter: blur(100px);
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.toggle-btn {
  visibility: hidden;
  width: 0.5em;
  margin-right: 4.2em;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-menu.open {
  height: 21rem;
  display: block;
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
  &:hover {
    color: $base-white;
  }
}

a.nav-menu {
  font-family: MyFont;
  color: $base-text;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
  &:hover {
    color: $base-white;
  }
}

a.nav-btn {
  padding: 0.5em;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gh:hover {
  color: #333;
}

#lab_social_icon_footer #social-li:hover {
  color: #0077b5;
}

footer {
  // position: fixed;
  // bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: $base-white;
  height: 3.3em;
  background-image: -o-linear-gradient($base-black, $base-gray);
  background-image: -moz-linear-gradient($base-black, $base-gray);
  background-image: linear-gradient($base-black, $base-gray);
  overflow: hidden;
  // width: 100%;
}

#lab_social_icon_footer a {
  font-size: 0.9em;
  color: $base-text;
  padding: 1em;
  opacity: 85%;
}
div.text-center.center-block {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-y: hidden;
  opacity: 85%;
  width: fit-content;
  position: absolute;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 85%;
}

#lab_social_icon_footer .social {
  overflow-y: hidden;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: scale(0.8);
  opacity: 85%;
}

span.seperator {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: gray;
  font-size: 2em;
  bottom: 0.18em;
  position: relative;
  opacity: 85%;
}

.copyright {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: MyFont;
  color: #7d7d7d;
  font-size: 1rem;
  opacity: 85%;
  align-self: center;
  margin: auto;
}

.nav-btn[aria-current="page"] {
  color: #ffffff;
  font-size: 0.9em;
}

div a.social-link {
  position: relative;
  top: 0.7em;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1050px) {
  div.max-width {
    margin-top: 3em;
    width: 550px;
  }
  // img {
  //   margin-top: 7em;
  //   height: 21em;
  //   width: 15em;
  // }
  h3 {
    overflow: hidden;
    font-size: 1.1em;
  }

  p#p1 {
    overflow: hidden;
    font-size: 1.1em;
  }

  p#p2 {
    overflow: hidden;
    font-size: 1.1em;
  }
  p#p3 {
    overflow: hidden;
    font-size: 1.1em;
  }

  nav ul {
    gap: 6rem;
  }

  .nav-link {
    font-size: 1.5em;
  }

  .copyright {
    font-size: 0.7em;
    position: relative;
    left: 15em;
    // top: 2.4em;
  }
  #social-fb {
    font-size: 2.5em;
  }
  #social-tw {
    font-size: 2.5em;
  }
  #social-gh {
    font-size: 2.5em;
  }
  #social-li {
    font-size: 2.5em;
  }
  span.seperator {
    bottom: 0.03em;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 768px) {
  div.max-width {
    margin-top: 7em;
    width: 450px;
  }
  // img {
  //   margin-top: 10em;
  //   height: 19em;
  //   width: 13em;
  // }
  h3 {
    overflow: hidden;
    font-size: 0.8em;
  }

  p#p1 {
    overflow: hidden;
    font-size: 1em;
  }

  p#p2 {
    overflow: hidden;
    font-size: 1em;
  }
  p#p3 {
    overflow: hidden;
    font-size: 1em;
  }

  div.container {
    display: flex;
    flex-direction: row;
  }

  nav ul {
    margin-left: 3em;
    gap: 4em;
  }
  .nav-link {
    font-size: 0.9em;
  }

  a.logo {
    font-size: 1.4em;
  }

  #social-fb {
    font-size: 2em;
  }
  #social-tw {
    font-size: 2em;
  }
  #social-gh {
    font-size: 2em;
  }
  #social-li {
    font-size: 2em;
  }

  .copyright {
    font-size: 0.3em;
    bottom: 0.2em;
    left: 25em;
  }
  span.seperator {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 576px) {
  #bars.fa-solid {
    color: $base-white;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    visibility: visible;
  }
  .nav-link {
    display: none;
  }
  footer#lab_social_icon_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .dropdown-menu {
    left: 1.2rem;
    width: unset;
    align-items: center;
    display: none;
  }

  .copyright {
    left: 0.55em;
    top: 2em;
    font-size: 0.6em;
    position: relative;
    // position: sticky;
  }
  span.seperator {
    bottom: -0.05em;
    font-size: 1.3em;
  }
}
