@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@font-face {
  font-family: "MavenPro";
  font-weight: normal;
  font-style: normal;
  src: url("MavenPro-Regular.ttf");
}
@font-face {
  font-family: "MyFont";
  font-weight: 700;
  font-style: normal;
  src: url("RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("Stellar-light.woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("806443.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #d5b1b1;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: space-evenly;
}

div.max-width {
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 600px;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.3);
}

::-moz-selection {
  background: #423c3c;
}

::selection {
  background: #423c3c;
}

img {
  margin-top: 2em;
  align-items: center;
  align-self: flex-start;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 38em;
  width: 32em;
  border-radius: 25%;
  background-color: rgba(0, 0, 0, 0.25);
}

h3 {
  align-self: center;
  border-bottom: 5px solid #bc8787;
  font-weight: 500;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
h3 > span {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.015em;
  font-size: 4em;
  font-family: MyFont;
  color: #bc8787;
  text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 10px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
h3 > span:hover {
  filter: blur(5px);
  animation: alternate;
  transform: rotate(90deg);
}

p#p1 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

p#p2 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

p#p3 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  padding: 0.5em;
}

header {
  top: 0;
  height: 4.3em;
  background-image: linear-gradient(rgb(42, 41, 41), rgb(0, 0, 0));
}

nav {
  width: 100vw;
  justify-content: space-between;
  display: flex;
  opacity: 85%;
  transition: 0.6s;
  padding: 1em 1em 1em 1em;
  height: 2.3em;
}

.logo {
  position: relative;
  left: 0.1em;
  bottom: 0.08em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  transition: 0.6s;
}

nav ul {
  display: flex;
  gap: 12rem;
}

.nav-link {
  font-size: 1.4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  overflow-y: hidden;
}

nav > div > i {
  visibility: hidden;
}

#bars.fa-solid {
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

header ul li a {
  width: -moz-fit-content;
  width: fit-content;
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: #989595;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.25s ease;
}
header ul li a:hover {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 15rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.toggle-btn {
  visibility: hidden;
  width: 0.5em;
  margin-right: 4.2em;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-menu.open {
  height: 21rem;
  display: block;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
}
.dropdown-menu.open:hover {
  color: #ffffff;
}

a.nav-menu {
  font-family: MyFont;
  color: #989595;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
}
a.nav-menu:hover {
  color: #ffffff;
}

a.nav-btn {
  padding: 0.5em;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gh:hover {
  color: #333;
}

#lab_social_icon_footer #social-li:hover {
  color: #0077b5;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #ffffff;
  height: 3.3em;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(42, 41, 41));
  overflow: hidden;
  width: 100%;
}

#lab_social_icon_footer a {
  font-size: 0.9em;
  color: #989595;
  padding: 1em;
  opacity: 85%;
}

div.text-center.center-block {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-y: hidden;
  opacity: 85%;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}

#lab_social_icon_footer .social:hover {
  transform: scale(0.9);
  opacity: 85%;
}

#lab_social_icon_footer .social {
  overflow-y: hidden;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transition-duration: 0.5s;
  transform: scale(0.8);
  opacity: 85%;
}

span.seperator {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: gray;
  font-size: 2em;
  bottom: 0.18em;
  position: relative;
  opacity: 85%;
}

.copyright {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: MyFont;
  color: #7d7d7d;
  font-size: 1rem;
  opacity: 85%;
  align-self: center;
  margin: auto;
}

.nav-btn[aria-current=page] {
  color: #ffffff;
  font-size: 0.9em;
}

div a.social-link {
  position: relative;
  top: 0.7em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1050px) {
  nav ul {
    gap: 6rem;
  }
  .nav-link {
    font-size: 1.5em;
  }
  .copyright {
    font-size: 0.7em;
    position: relative;
    left: 15em;
  }
  #social-fb {
    font-size: 2.5em;
  }
  #social-tw {
    font-size: 2.5em;
  }
  #social-gh {
    font-size: 2.5em;
  }
  #social-li {
    font-size: 2.5em;
  }
  span.seperator {
    bottom: 0.03em;
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 768px) {
  nav ul {
    margin-left: 3em;
    gap: 4em;
  }
  .nav-link {
    font-size: 0.9em;
  }
  a.logo {
    font-size: 1.4em;
  }
  #social-fb {
    font-size: 2em;
  }
  #social-tw {
    font-size: 2em;
  }
  #social-gh {
    font-size: 2em;
  }
  #social-li {
    font-size: 2em;
  }
  .copyright {
    font-size: 0.3em;
    bottom: 0.2em;
    left: 25em;
  }
  span.seperator {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 576px) {
  #bars.fa-solid {
    color: #ffffff;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    visibility: visible;
  }
  .nav-link {
    display: none;
  }
  footer#lab_social_icon_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .dropdown-menu {
    left: 1.2rem;
    width: unset;
    align-items: center;
    display: none;
  }
  .copyright {
    left: 0.55em;
    top: 2em;
    font-size: 0.6em;
    position: relative;
  }
  span.seperator {
    bottom: -0.05em;
    font-size: 1.3em;
  }
}/*# sourceMappingURL=story.css.map */