$bold-weight: 700;
$base-black: rgb(0, 0, 0);
$base-gray: rgb(42, 41, 41);
$base-text: #989595;
$base-white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

@font-face {
  font-family: "MavenPro";
  font-weight: normal;
  font-style: normal;
  src: url("MavenPro-Regular.ttf");
}
@font-face {
  font-family: "MyFont";
  font-weight: $bold-weight;
  font-style: normal;
  src: url("RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "MyFont2";
  font-style: normal;
  font-weight: normal;
  src: url("Stellar-light.woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  // overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("806443.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #d5b1b1;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: space-evenly;
  // background-image: url("806443.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
  // gap: 8em;
}

div.max-width {
  // height: fit-content;
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 600px;
  // height: 100vh;
  // padding: 1em;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.25);
}

::selection {
  background: #423c3c;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  // padding: 1.5em;
  height: 38em;
  width: 32em;
  border-radius: 25%;
  background-color: rgba(0, 0, 0, 0.25);
}
h3 {
  // letter-spacing: 0.03em;
  align-self: center;
  // font-size: 4.5em;
  // font-family: MyFont;
  // color: #bc8787;
  // text-shadow: 0 0 10px #717171, 0 0 10px #717171, 0 0 0px #717171,
  //   0 0 10px #717171, 0 0 10px #717171, 0 0 0px #717171, 0 0 00px #717171,
  //   0 0 0px #717171;
  // text-decoration: 5px solid underline;
  // text-decoration-color: #bc8787;
  border-bottom: 5px solid #bc8787;
  // border-width: 100px;
  font-weight: 500;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
h3 > span {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.015em;
  font-size: 4em;
  font-family: MyFont;
  color: #bc8787;
  text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 10px #ffffff,
    0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff,
    0 0 10px #ffffff;

  &:hover {
    filter: blur(5px);
    animation: alternate;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    // color: #aea8a8;
  }
}
p#p1 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}

p#p2 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}
p#p3 {
  text-indent: 7%;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin-top: 0.5em;
  align-self: center;
  font-size: 1.4em;
  font-family: MavenPro;
  color: #aea8a8;
  // border: 2px solid black;
  padding: 0.5em;
  // border-radius: 15%;
  // background-color: rgba(0, 0, 0, 0.25);
}

// .containertwo {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   height: 100vh;
//   // filter: blur(1.5px);
//   background-image: url("/docs/mountains.jpg");
//   background-attachment: fixed;
//   // background-image: url("/docs/foggyfog.jpg");
//   gap: 2em;
//   // filter: grayscale(100%);
// }

header {
  position: relative;
  // position: fixed;
  top: 0;
  // width: 100vw;
  // display: flex;
  height: 4.3em;
  background-image: -o-linear-gradient($base-gray, $base-black);
  background-image: -moz-linear-gradient($base-gray, $base-black);
  background-image: linear-gradient($base-gray, $base-black);
}

nav {
  width: 100vw;
  justify-content: space-between;
  display: flex;
  opacity: 85%;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 1em 1em 1em 1em;
  height: 2.3em;
}

.logo {
  position: relative;
  left: 0.1em;
  bottom: 0.08em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: $base-white;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav ul {
  display: flex;
  gap: 12rem;
}

.nav-link {
  font-size: 1.4em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  overflow-y: hidden;
}

nav > div > i {
  visibility: hidden;
}

#bars.fa-solid {
  color: $base-white;
  font-size: 1.8rem;
  cursor: pointer;
}

header ul li a {
  width: fit-content;
  font-family: MyFont;
  font-size: 0.8em;
  text-decoration: none;
  color: $base-text;
  letter-spacing: 1px;
  font-weight: 500;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  &:hover {
    color: $base-white;
  }
}

.dropdown-menu {
  display: none;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
  background: rgb(255, 255, 255, 0.1);
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 15rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backdrop-filter: blur(20px);
}

.toggle-btn {
  visibility: hidden;
  width: 0.5em;
  margin-right: 4.2em;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: center;
}

.dropdown-menu.open {
  height: 21rem;
  display: block;
  backdrop-filter: blur(30px);
  border: 2px solid #716e6e;
  &:hover {
    color: $base-white;
  }
}

a.nav-menu {
  font-family: MyFont;
  color: $base-text;
  list-style: none;
  font-size: 1.7rem;
  text-decoration: none;
  &:hover {
    color: $base-white;
  }
}

a.nav-btn {
  padding: 0.5em;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gh:hover {
  color: #333;
}

#lab_social_icon_footer #social-li:hover {
  color: #0077b5;
}

footer {
  position: fixed;
  bottom: 0;
  // margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: $base-white;
  height: 3.3em;
  background-image: -o-linear-gradient($base-black, $base-gray);
  background-image: -moz-linear-gradient($base-black, $base-gray);
  background-image: linear-gradient($base-black, $base-gray);
  overflow: hidden;
  width: 100%;
}

#lab_social_icon_footer a {
  font-size: 0.9em;
  color: $base-text;
  padding: 1em;
  opacity: 85%;
}
div.text-center.center-block {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-y: hidden;
  opacity: 85%;
  width: fit-content;
  position: absolute;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 85%;
}

#lab_social_icon_footer .social {
  overflow-y: hidden;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: scale(0.8);
  opacity: 85%;
}

span.seperator {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: gray;
  font-size: 2em;
  bottom: 0.18em;
  position: relative;
  opacity: 85%;
}

.copyright {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: MyFont;
  color: #7d7d7d;
  font-size: 1rem;
  opacity: 85%;
  align-self: center;
  margin: auto;
}

.nav-btn[aria-current="page"] {
  color: #ffffff;
  font-size: 0.9em;
}

div a.social-link {
  position: relative;
  top: 0.7em;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1050px) {
  nav ul {
    gap: 6rem;
  }

  .nav-link {
    font-size: 1.5em;
  }

  .copyright {
    font-size: 0.7em;
    position: relative;
    left: 15em;
    // top: 2.4em;
  }
  #social-fb {
    font-size: 2.5em;
  }
  #social-tw {
    font-size: 2.5em;
  }
  #social-gh {
    font-size: 2.5em;
  }
  #social-li {
    font-size: 2.5em;
  }
  span.seperator {
    bottom: 0.03em;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    margin-left: 3em;
    gap: 4em;
  }
  .nav-link {
    font-size: 0.9em;
  }

  a.logo {
    font-size: 1.4em;
  }

  #social-fb {
    font-size: 2em;
  }
  #social-tw {
    font-size: 2em;
  }
  #social-gh {
    font-size: 2em;
  }
  #social-li {
    font-size: 2em;
  }

  .copyright {
    font-size: 0.3em;
    bottom: 0.2em;
    left: 25em;
  }
  span.seperator {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 576px) {
  #bars.fa-solid {
    color: $base-white;
    position: absolute;
    right: 0.8em;
    font-size: 1.8rem;
    cursor: pointer;
    visibility: visible;
  }
  .nav-link {
    display: none;
  }
  footer#lab_social_icon_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .dropdown-menu {
    left: 1.2rem;
    width: unset;
    align-items: center;
    display: none;
  }

  .copyright {
    left: 0.55em;
    top: 2em;
    font-size: 0.6em;
    position: relative;
    // position: sticky;
  }
  span.seperator {
    bottom: -0.05em;
    font-size: 1.3em;
  }
}
